%header.header
  .header__title
    %p ひと言日記
  .header__link
    = link_to "マイページ", '#', class: 'header__link__mypage'
%body.post
  = form_for @tweet do |f|
    .post__top
      .post__top__title 投稿画面
    .post__center
      = f.label :body, "ひとこと"
      = f.text_area :body, class: "post__center__body", placeholder: "ひとことを入力してください"
    .post__bottom
      = f.submit "投稿する"
%footer.footer