%header.header
  .header__title
    %p ひと言日記
  .header__link
    - if user_signed_in?
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header__link__mypage'
      = link_to "投稿する", new_tweet_path, class: 'header__link__post'
    - else
      = link_to "新規登録", new_user_registration_path,class: 'header__link__mypage'
      = link_to "ログイン", new_user_session_path, class: 'header__link__post'

= render partial: "layouts/body", locals: { tweets: @tweets}, as: :tweet